body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

input {
  width: calc(100% - 100px);
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  width: 200px;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}

.TodoList {
	margin: 50px 20vw;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #f0f0f0;
  }

.TodoListTitle {
	font-size: 24px;
	margin-bottom: 10px;
}

.TodoListAdicionar {
	display: flex;
	align-items: center;
}

.TodoItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.TodoItem-text {
    flex: 1;
    list-style-type: none;
}

.TodoItemButtonRemover {
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
	width: 100px;
}

.TodoItemButtonRemover:hover {
    background-color: #ff1a1a;
}